@use "./variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $background-color;

  color: $text-color;

  font-family: Arial, Helvetica, sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: $primary-color;

  border-radius: $border-radius;
}

/* Reusable Classes */

.app-card {
  background-color: $white-color;

  border-radius: $border-radius;

  box-shadow: $box-shadow;

  padding: 20px;
}

.app-title {
  color: $primary-color;

  font-weight: bold;
}